[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
codecov = "*"
pylint-exit = "*"
mock = "*"

[packages]
toml = "*"
sklearn = "*"
joblib = "*"
spacy = "*"
gensim = "*"
# requests = {file = "https://github.com/explosion/spacy-models/releases/download/es_core_news_md-2.2.0/es_core_news_md-2.2.0.tar.gz", editable = false}